@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(70%);
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: #2f4f4f;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    color: #2f4f4f;
}

h3 {
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    margin: 0;
}

h4{
    font-family: 'Architects Daughter', cursive;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}


nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Architects Daughter', cursive;
}

a:hover{
    color: #191970;
    border-bottom: 2px solid  #191970;
}

#form {
    /* color: blue; */
    /* border: 2px solid #1e90ff; */
    border-radius: 4px; /* Rounded borders */
    /* background-color: #FFF; */
    /* padding: 5px; */
}




.content-section {
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.account-img {
    height: 10%;
    width: 10%;
    margin-right: 20px;
    margin-bottom: 16px;
    border-radius: 0 50% 50% 50%;
  }
  
.account-heading {
    font-size: 2.5rem;
  }

/* CSS for news related html - unsure why the css file within the news folder is not working */
.story-card {
    margin: 2px;
    border: 1px solid #000;
    padding: 5px;
}

.story-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


#latest-stories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
    max-height: 500px;
}

#story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
}

#story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

#all-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#all-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

#story-content {
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 10px;
    width: 50%;
    height: 50%;
}